@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
    background-color: #778DA9;
}

header {
    width: 100%;
    min-height: 50px;
}

h1 {
    font-family:'Bricolage+Grotesque', sans-serif;
    color: rgb(10, 53, 113);
}

h2 {
      font-family: 'Roboto Slabs';
}

img {
 width: fit-content;
 height: auto;
}

nav.links {
    display: flex;
    background: #293a58;
    padding: 0;
    margin: 0;
    }

nav.links a {
    display: block;
    text-decoration: none;
    color: #c7d5e0;
    padding: 10px 20px;
    font-family: 'Roboto Slab';
}

nav.links a:hover {
    background: #2a475e;
}

 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
 text-align: left;
 margin-right: 900px;
 font-size: 75px;
}

h2 {
    text-align: left;
    margin-right: 900px;
    font-size: 50;
}

span {
    font-family:'Orbitron';

}

nav.controller{
    width: 1000px;
}

p {
      color: #778DA9;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    text-align: left;

}

div.games {
 color: rgb(7, 25, 41);
 font-family: 'Orbitron', sans-serif;
    
}

nav.Bottom {
    font-family: 'Roboto Slab';
}




nav.checkout-page {
    display: flex;
    padding: 40px 20px;
    justify-content: center;
}

form#Pay {
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    max-width: 800px; 

    background: #0d1b2a;
    border: 1px solid #293a58;
    border-radius: 12px;

}

form#Pay input[type="email"],
form#Pay input[type="name"],
form#Pay input[type="card-number"] {
    background: #1b263b;
    border: 1px solid #415a77;
    border-radius: 6px;
    padding: 12px;
    color: white;
    font-family: 'Roboto Slab';
    font-size: 14px;
}

